# Unity
Library/
Temp/
obj/
Logs/
UserSettings/

#VS
.vs/
.vscode/
*.csproj
*.sln
*.user
.vsconfig

#project
/_Build
/Unity/build
Unity/log.txt
/Unity/*.dat
/Unity/SaveData
/書類/進捗管理.xlsx
/Unity/Logs
/Unity/*.vsconfig
/Unity/Assets/AssetBundle/Atlas
/Unity/Assets/AssetBundle/Atlas.meta
/Unity/Sxam/AssetBundle
/Unity/Assets/StreamingAssets/Sxam
/Unity/Assets/StreamingAssets/Sxam.meta

